.img-Item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    max-width: 100%; 
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
    object-position: center; /* Centra la imagen verticalmente */
}

.titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titles h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega un pequeño sombreado */
}
.titles h6 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega un pequeño sombreado */
  }
  
.titles p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega un pequeño sombreado */
}

@media (max-width: 480px) {
   .img-Item{
    width: 150px;
    height: 150px;
   }
   
   .titles p{
    font-size: 17px;
    text-align: center;
   }
  
  }